body{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
     margin-top: 22%;
     margin-left: 30%;
     font-size:60px;
     color: white;
}

.b{
    text-align: center;
    color: white;
    margin-top: -40px;
}
input[type=WATCHMORE]:hover{
        background-color:#010e01;
}